APP_PORT=8086

ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=products
ELASTICSEARCH_TIMEOUT=5s

REDIS_ENABLED=true
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=redis123
REDIS_DB=0
REDIS_KEY_PREFIX=search-service
REDIS_CACHE_TTL=2m
